body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TEXT GROUPING */

.nameText {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

.siteText {
  font-family: "Poiret One", cursive;
  font-size: x-large;
  font-weight: 600;
}

.inputText {
  font-family: "Poiret One", cursive;
  font-size: medium;
  font-weight: 600;
}

/* COLOR GROUPING */

.almond {
  color: #f1dac4;
}

.bgcolor {
  background-color: #f1dac4;
}

.white {
  color: #ffffff;
}
.heliotrope_gray {
  background-color: #a69cac;
}

.dropdown-menu > li > a:hover {
  background-color: #a69cac !important;
}

.purple_navy {
  color: #474973;
}

.bgpurple_navy {
  background-color: #474973;
}

.oxford_blue {
  color: #161b33;
}

.bgoxford_blue {
  background-color: #161b33;
}

.ob_button {
  background-color: #161b33;
}

.dropdown-item.active {
  background-color: #161b33;
}

.xiketic {
  color: #0d0c1d;
}

/* SIZING, MOVEMENT, DESIGN GROUPING */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box_marg {
  margin-bottom: 140px;
}

.center_image {
  margin: 0 auto;
}

.bbcolor_bottom {
  border-bottom: 2px solid;
  border-bottom-color: #161b33;
}

.bbcolor_top {
  border-top: 2px solid;
  border-top-color: #161b33;
}

.b_cards {
  border: 2px solid;
  border-color: #161b33;
}

<<<<<<< HEAD
=======
.f_pad {
  position: fixed;
  /* margin-top: 20px;
  margin-bottom: 10px; */
  bottom: 0;
  left: 0;
  min-width: 100%;
  border-bottom: 2px solid;
  border-bottom-color: #161b33;
}

>>>>>>> main
.shad_intense {
  box-shadow: 5px 5px 10px;
}

<<<<<<< HEAD
.f_space {
  padding-left: 10px;
}
=======
.shad_light {
  box-shadow: 5px 5px 20px;
}

.shad_lighter {
  box-shadow: 3px 3px 20px;
}
>>>>>>> main
