body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nameText {
  font-family: 'Poiret One', cursive;
  font-weight: 800;
}

.siteText {
  font-family: 'Poiret One', cursive;
  font-size: x-large;
  font-weight: 600;
}

.color1 {
  color: #b56fad;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bgcolor {
  background-color: #F1DAC4;
}

.photomarg {
  padding-bottom: 28px;
}

.dropdown-item.active {
  background-color: #474973;
}

.dropdown-menu>li>a:hover {
  background-color: #a69cac !important;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #FF0000;
}

.center_image {
  margin: 0 auto;
}

.bbcolor {
  border-bottom: 2px solid;
  border-bottom-color: #161b33;
}